*{
    box-sizing: border-box;
    }
    .first-box{
        background-color: black;
        position: relative;
        width: 512px;
        height: 512px;
    }
   h1{
    color: white;
    font-size: 100px;
    padding: 10px 10px;
   }
   .flag-f{
    text-align: center;
    position: absolute;
    background-color: blue;
    color: yellow;
    Width: 80px;
    Height:60px;
    margin: 150px 216px;
     }
   /* .flag-f{
    position: absolute;
    background-color: yellow;
   } */

